//For Colors

$dark-grey:#333;
$blue:#1C88Bf;
$dark-blue:#364051; 
$off-white: #f7f7f7;
$grey:#666;

//Font size
$font-size-large:1.8 rem;
$font-size-small:104 rem;
 

// For fonts

$m-size:1.6rem;
$l-size:3.2rem;
$xl-size:4.8rem;
$s-size:1.2rem;

$desktop-breakpoint:45rem;